[submodule "package/utils/sierra_sdk/src"]
	path = package/utils/sierra_sdk/src
	url = https://github.com/connectedioinc/EMU-Router-OS-Driver-Source.git
	branch = submodule/sierra/sdk-3.3.14
[submodule "package/utils/sierra_sdk/src-3.3.11"]
	path = package/utils/sierra_sdk/src-3.3.11
	url = https://github.com/connectedioinc/EMU-Router-OS-Driver-Source.git
	branch = submodule/sierra/sdk-3.3.11
