
<ul class="nav nav-tabs">
	<li class="active"><a href="#port_forwards" data-toggle="tab"><%:Port Forwards%></a></li>
	<li><a href="#custom_rules" data-toggle="tab"><%:Custom Rules%></a></li>
</ul>

<div class="tab-content">

	<div class="tab-pane active" id="port_forwards">
			<div id="tbl_port_forward"></div>
	</div>

	<div class="tab-pane" id="custom_rules">
		<div class="panel">
                        <textarea class="form-control" id="ta_custom_rules"></textarea>
                </div>
                <div class="pull-right">
                        <input class="btn btn-primary" type="button" id="btn_save" value="<%:Save%>" />
                        <input class="btn btn-default" type="button" id="btn_reset" value="<%:Reset%>" />
                </div>

	</div>

</div>
