<div id="map"></div>
<BR><BR>
<h2>Reboot</h2><p>Software reboot router.</p>
	<table style="width:auto">
                <tr>
                        <td>
                                <div class="input-group">
                                        <div class="input-group-btn">
                                                <button type="button" class="btn btn-primary" id="btnReboot"><%:Reboot%></button>
						&nbsp;&nbsp;
                                                <button type="button" class="btn btn-primary" id="btnShutdown"><%:Shutdown%></button>
                                        </div>
                                </div>
                        </td>
                </tr>
        </table>
